.plot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.plot-wrapper {
  display: inline-block;
  padding: 10px;
  background: linear-gradient(to right, #121e35, #0b1a2c, #0b1129);
  border-radius: 10px;
}
